

body {
  background: #bfd4be;
  padding: 20px;
  font-family: 'Alegreya', sans-serif;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  background-image: linear-gradient(to left top, #050a37, #542054, #9c3b61, #d86762, #ffa160);
  height: 100%;
  width: 100%;
  margin: 0;
}

html {
  height: 100%;
  width: 100%;
  margin: 0;
}

div.page {
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}

.pager {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
    justify-content: flex-start;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #d9d9d9;
  color: #000;
  text-align: center;
  padding: 5px 1px;
  border-radius: 6px;
  opacity: 0.8;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 105%;
}

.tooltip .qtooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #d9d9d9;
  color: #000;
  text-align: center;
  padding: 5px 1px;
  border-radius: 6px;
  opacity: 0.8;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 105%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip:hover .qtooltiptext {
  visibility: visible;
}


* {
  box-sizing: border-box;
}


.col-n padding: 5px;}
.col-m {min-width: 200px;}
.col-r {width: 200px; padding: 10px;}

.col-1 {width: 150px;}
.col-2 {width: 300px;}
.col-3 {width: 450px;}
.col-4 {width: 600px;}
.col-5 {width: 750px;}
.col-6 {width: 900px;}
.col-7 {width: 1050px;}
.col-8 {width: 1200px;}
.col-9 {width: 1350px;}


[class*="col-"] {
  padding: 15px;
  /* border: 1px solid red; */ /* for debugs */
}

.row::after {
  content: "";
  clear: both;
  display: table;
}


#logger {
  width: 400px;
  height: 80px;
  background-image: linear-gradient(to top, rgba(240, 240, 240,1), rgba(240, 240, 240,0));
  border-radius: 5px;
  padding: 10px 20px;
  text-align: right;
}

#navigateButtons {
  margin: 0;
  text-align: left;
}

#narrative {
    display: flex;
    flex-direction: row;
  margin: 5px 0px;
    padding: 5px;
  text-align: left;
  border-radius: 5px 5px;
}

#narr_head {
  max-width: 300px;
  text-align: center;
  background: #fff;
  border-radius: 5px;
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 5px;
}

h2 {
  font-weight: bold;
  padding: 5px;
  font-family: 'Alegreya', sans-serif;
}

h3 {
  font-weight: bold;
  padding: 5px;
  font-family: 'Alegreya', sans-serif;
}

button.nav {
    background-color: #fff;
    border: none;
    padding: 15px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 5px;
    width: 125px;
    font-family: 'Alegreya SC', sans-serif;
}

#right-bar {
  background-color: #fff;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  width: 150px;

}

#gametime {
    background-color: #fff;
    width: 125px;
    height: 25px;
  font-size: 16px;
  border-radius: 5px;
    text-align: center;
  font-family: 'Alegreya', sans-serif;
}

.currency {
    background-color: #fff;
    border: 1px solid #000;
    padding: 5px 5px;
    text-align: left;
    text-decoration: none;
    font-size: 14px;
    border-radius: 5px;
    font-family: 'Alegreya SC', serif;
}

.currency:hover:enabled {
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.24), 0 7px 15px 0 rgba(0,0,0,0.19);
}

.currency:active:enabled {
    background-color: #9c3b61;
    color: white;
    box-shadow: none;
}


.spellb {
    background-color: #fff;
    border: 1px solid #000;
    padding: 5px 5px;
    text-align: left;
    text-decoration: none;
    font-size: 14px;
    border-radius: 5px;
    font-family: 'Alegreya SC', serif;
}

.spellb:hover:enabled {
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.24), 0 7px 15px 0 rgba(0,0,0,0.19);
}

.spellb:active:enabled {
    background-color: #9c3b61;
    color: white;
    box-shadow: none;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

#curr_list {
    padding: 0px 20px;
    width: 150px;
    border-right: 1px solid #000;
    text-align: left;
    font-family: 'Smythe', cursive;
    font-size: 20px;
}

#shops {
    padding: 0px 20px;
    width: 250px;

    text-align: center;
}

#stats {
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    width: 150px;
    text-align: center
}





.pagedes {
    display: flex;
    direction: column;
    background: #fff;
    width: inherit;
    margin: 5px 0px;
    border-radius: 5px 5px;
}

.logstyle {
    padding: 20px;
    font-family: 'Calligraffitti', cursive;
    font-size: 25px;
}

#title {
    font-family: 'Berkshire Swash', cursive;
    text-align: left;
    border-bottom: 1px solid #000;
}



.spellitem {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #000;
    padding-bottom: 15px;
}

#narrative2 {
        display: flex;
    flex-direction: column;
  margin: 5px 0px;
    padding: 7px;
  border-radius: 5px 5px;
}

.spelldesc {
    border-left: 1px solid #000;
    padding-left: 10px;
}

.spellc1 {
    margin-right: 10px;
}

.spelltitle {
    text-align: left;
    font-family: 'Cinzel', serif;
}

.levelup {
    padding-bottom: 5px; 
    font-family: 'Alegreya Sans SC', sans-serif;
}
